## Extraction Process (From S3 bucket into local environment)

### Import necessary modules:

In [62]:
import boto3
import pandas as pd
from io import StringIO
import numpy as np

### Connecting to S3 bucket and returning all buckets on the AWS account:

In [63]:
s3 = boto3.resource(service_name='s3', region_name='eu-west-2')

# print out bucket name
for bucket in s3.buckets.all():
    print(bucket.name)

### Accessing specific file in S3 bucket, retrieve and decode the contents into a string:

In [70]:
file_key = "messy_raw_data.csv"      # The key of the file stored in S3 bucket
bucket_name = "tungstennn-bucket"    # The name of the bucket

obj = s3.Object(bucket_name, file_key)
extracted_data = obj.get()['Body'].read().decode('utf-8')  # type(extracted_data) = string

### Converting the extracted_data into a DataFrame object and display first 5 records:

In [67]:
df = pd.read_csv(StringIO(extracted_data))
df.head()

         date     category    sales region
0  2023/04/09     Clothing   973.80  South
1  2023-12-03         Toys      NaN   West
2  2023-05-31  Electronics   500.00  North
3  2023-03-16          NaN   606.42   East
4  2023-05-28     Clothing  9999.99   East

### Save the DataFrame as a CSV file for the next notebook:

In [71]:
# Save the DataFrame as a CSV file
df.to_csv('extracted_data.csv', index=False)