## Import the necessary modules

In [11]:
import pandas as pd
import numpy as np

In [12]:
# Load the saved CSV file into a new DataFrame
df = pd.read_csv('extracted_data.csv')

df.head()

         date     category    sales region
0  2023/04/09     Clothing   973.80  South
1  2023-12-03         Toys      NaN   West
2  2023-05-31  Electronics   500.00  North
3  2023-03-16          NaN   606.42   East
4  2023-05-28     Clothing  9999.99   East

## Data Quality Checks
Performing checks on columns of interest to ensure data integrity and reliability.

### Null Values Check

- `.isnull()` and `.sum()` are used to analyse the null value count and stored as `missing_values`

- `(missing_values / len(df_films)) * 100` returns the percentage of missing values from the total number of values in the column and stores the result as `missing_percentage`

In [13]:
# Data quality checks for DataFrame

# Check for missing values
missing_values = df.isnull().sum()
missing_percentage = (missing_values / len(df)) * 100
print("Missing Values:")
print(missing_values)
print("\nMissing Values Percentage:")
print(missing_percentage)

Missing Values:
date        0
category    1
sales       1
region      0
dtype: int64

Missing Values Percentage:
date        0.0
category    0.1
sales       0.1
region      0.0
dtype: float64

In [17]:
print(df.describe())

             sales
count   999.000000
mean    524.104515
std     421.024235
min      10.420000
25%     247.780000
50%     524.760000
75%     782.715000
max    9999.990000

In [16]:
print(df.dtypes) # Checking for inconsistent data types

#df['date'] = pd.to_datetime(df['date'])

#print(df.dtypes)

date         object
category     object
sales       float64
region       object
dtype: object